button.forgetPassword-button {
    margin-top: 10px;
    background-color: #fe7aac;
    border: solid 2px black;
    border-radius: 8px;
    color: black;
    text-transform: none;
    font-size: 15px !important;
}

button.forgetPassword-button:hover {
    background-color: #ff9fc3 !important;
}